html {
  height: 100%;
}

body {
  background: #f1f1f1;
  height: 100%;
}

footer {
  margin: 0;
}

.container {
  height: calc(98vh - 70px);
}

.navbar {
  margin: 0;
}

.emp-list  {
  background: #C7E5FF;
  height: 80%;
  overflow: auto;
  border-radius: 20px;
  max-width: 720px;
  margin: auto;
}

.emp-list ul {
  list-style: none;
  padding: 0;
}

.list-title {
  max-width: 720px;
margin: 15px auto;
}

.emps {
  list-style: none;
  margin: auto;
  padding: 0;
}

.emps h2 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5em;
  scroll-behavior: smooth;
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 40px;
  position: relative;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  margin: 22px 0px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;;
}

::-webkit-scrollbar-track-piece {
  margin: 22px 0px;
}

.emp-inst {
  border-radius: 10px;
  margin: 10 auto;
  text-align: center;
  font-size: 2em;
  padding: 0;
}

.emp-inst a {
  background-color: #ffffff;
  color: #707070;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.emp-inst a:hover, .emp-inst a:active {
  background-color: #E5E5E5;
}

.emp-details {
  background: #C7E5FF;
  height: 72%;
  border-radius: 0 0 0 40px;
  -webkit-column-count: 2;
  margin-left: 5%;
}

.emp-details h1 {
  padding-left: 5%;
}

.emp-details li {
  display: block;
}

.emp-detail-nav {
  background: #C7E5FF;
  height: 72%;
  border-radius: 0 0 40px 0;
}

.emp-detail-nav ul {
  margin-top: 10  px;
  list-style: none;
}

.emp-detail-nav li {
  padding: 10px;
}

.emp-title {
  margin: 0 11.5% 0 38.5%;
  border-radius: 40px 40px 0 0;
  background: #222222;
  color: 9F9B9A;
}

.list-container {
  height: calc(96.5vh - 70px);
  margin: 0;
}

.new-list {
  list-style: none;
}

.form-group {
  max-width: 500px;
  margin: auto;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}
