<!DOCTYPE html>
<html>
  <%- include("header") %> <%- include("navbar") %>

  <section>
    <div class="container">
      <div class="header">
        <h1>Welcome to Johnny's Home Improvement</h1>
      </div>
      <br /><br />
      <div>
        <p>
          To start managing your employees, just go
          <a
            href="/list
        <%"
            >HERE</a
          >
        </p>
      </div>
    </div>
  </section>

  <%- include ("footer") %> <%- include ("scripts") %>
</html>
