<div class="container-fluid text-center">
  <div class="row content">


    <!-- Blank Space -->
    <div class="col-sm-1"></div>


    <!-- Employee List -->
    <div class="col-sm-3 sidenav well-lg emp-list">
      <div class="well emp-inst">
        <h2>Employee 1</h2>
      </div>
      <div class="well emp-inst">
        <h2>Employee 2</h2>
      </div>
      <div class="well emp-inst">
        <h2>Employee 3</h2>
      </div>
      <div class="well emp-inst">
        <h2>Employee 4</h2>
      </div>
      <div class="well emp-inst">
        <h2>Employee 5</h2>
      </div>
      <div class="well emp-inst">
        <h2>Employee 6</h2>
      </div>
      <div class="well emp-inst">
        <h2>Employee 7</h2>
      </div>
      <div class="well emp-inst">
        <h2>Employee 8</h2>
      </div>
    </div>


    <!-- Blank Space -->
    <div class="col-sm-2"></div>


    <!-- Selected Employee Details -->
    <div class="row">
      <h1 class="text-left well emp-title">Employee</h1>
      <div class="col-sm-6 text-left well emp-details">
        <div class="emp-detail-list"></div>
          <div class="col-sm">
            <ul class="details">
              <li>
                <h4>Legal Name</h4>
                <span></span>
              </li>
              <li>
                <h4>Phone Number</h4>
                <span></span>
              </li>
              <li>
                <h4>Employee I.D.</h4>
                <span></span>
              </li>
              <li>
                <h4>Hire Date</h4>
                <span></span>
              </li>
              <li>
                <h4>Time Type</h4>
                <span></span>
              </li>
            </ul>
          </div>
          <div class="col-sm">
            <ul class="details">
              <li>
                <h4>Date of Birth</h4>
                <span></span>
              </li>
              <li>
                <h4>Email</h4>
                <span></span>
              </li>
              <li>
                <h4>Position/Title</h4>
                <span></span>
              </li>
              <li>
                <h4>Time in Position</h4>
                <span></span>
              </li>
              <li>
                <h4>Direct Supervisor</h4>
                <span></span>
              </li>
            </ul>
          </div>

          <!-- Actionable links -->
          <!-- <div class="col-sm emp-detail-nav well text-left">
            <ul>
              <li><a href="#">Edit Info</a></li>
              <li><a href="#">Transfer</a></li>
              <li><a href="#">Leave of Absence</a></li>
              <li><a href="#">Terminate</a></li> -->
            </ul>
          </div>
      </div>
    </div>


    <!-- Blank Space -->
    <div class="col-md-1"></div>
  </div>
</div>
