<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">JHI-Johnny's Home Improvement</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="Active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-log-in"> Login</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-question-sign"> Help</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
